{% block main %}
    <p style="text-align: center;"><span style="text-decoration: underline;"><span style="text-align: center; color: #0000ff;"><strong>Bon de R&eacute;ception</strong></span></span></p>
    <p>Date :</p>
    <hr />
    <p>Nom fournisseur:&nbsp; <br />R&eacute;ference de la commande:</p>
    <table border="3" style="height: 17px; width: 100%; border-collapse: collapse;">
        <tbody>
        <tr style="height: 17px;">
            <td style="width: 25%; height: 17px;">ID</td>
            <td style="width: 25%; height: 17px;">produit&nbsp;</td>
            <td style="width: 25%; height: 17px;">Quantit&eacute;</td>
            <td style="width: 25%; height: 17px;">prix</td>
        </tr>

        </tbody>
         </table>




    <p><span style="color: #0000ff;"></span></p>
    <p><span style="color: #0000ff;"></span></p>
    <p><span style="color: #0000ff;"></span></p>
    <p><span style="color: #0000ff;"></span></p>
    <p><span style="color: #0000ff;">&nbsp;IL EST CERTIFI&Eacute; QUE LES MARCHANDISES CI-DESSUS ONT &Eacute;T&Eacute; RECUES EN BON ETAT&nbsp;</span></p>
    <p style="text-align: right;"><span style="color: #000000;">Nom et signature du responsable :</span></p>

{% endblock main %}
