{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %} {{ "dashboard.welcome"|trans }} {% endblock %}

{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-6 alert-info">

                <span class="display-3">{{(CountAllUser['value'])  }}</span> nouveaux utilisateurs
            </div>
            <div class="col-6 alert-success">
                <span class="display-3">3</span> nouveaux produits
            </div>
        </div>
    </div>



{% endblock %}
